@font-face {
    font-family: 'MS-UI-Gothic';
    src: url('/fonts/MS-UIGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'emojifont';
    src: url('/fonts/EmojiFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SevenSegment';
    src: url('/fonts/seven-segment.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nothing';
    src: url('/fonts/nothing-font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: "MS-UI-Gothic";
    background: #000;
    color: white;
}

a {
    color: #8ca457;
    text-decoration: none;
}

.title {
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
}

.title h1 {
    font-size: 1em;
    font-weight: inherit;
}

.title span {
    width: 3px;
}

.flex-col {
    flex-direction: column;
    display: flex;
}

.flex-row {
    flex-direction: row;
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.no-margin {
    margin: 0;
}

.crt::before {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background:
        linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.15) 50%),
        linear-gradient(90deg, rgba(255, 0, 0, 0.03), rgba(0, 255, 0, 0.01), rgba(0, 0, 255, 0.03));
    z-index: 2;
    background-size: 100% 4px, 6px 100%;
    pointer-events: none;
    animation: scanlines 1s linear infinite;
}

@keyframes scanlines {
    0% {
        background-position: 0 0, 0 0;
    }

    100% {
        background-position: 0 100%, 0 0;
    }
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: inherit;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1d1d1d;
    outline: #222b16 solid 1.5px;
}

::-webkit-scrollbar-thumb:hover {
    outline-width: 2px;
}

.background {
    z-index: -999;
    background-size: cover;
    pointer-events: none;
    image-rendering: pixelated;
    width: 100%;
    margin-top: -10px;
    position: absolute;
    filter: invert(62%) sepia(13%) saturate(1214%) hue-rotate(37deg) brightness(96%) contrast(90%);
}

#sky {
    opacity: 0.5;
}

#ground {
    opacity: 0.2;
}

.skip-to-content {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
    z-index: 1000;
    text-decoration: none;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
}

.skip-to-content:focus {
    transform: translateY(0);
}

.tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    pointer-events: none;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    z-index: 1000;
}

.tooltip.show {
    opacity: 1;
    transform: scale(1);
}

.horizontal-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    gap: 5px;
}

.intro .profile-pic img {
    width: 140px;
    height: 140px;
}

.intro .profile-pic .emoji {
    font-size: 40px;
    margin: 5px 0 0 5px;
    color: rgb(212, 72, 72);
    position: absolute;
    z-index: 1000;
}

.intro .profile-pic .stroke {
    color: transparent;
    position: absolute;
    z-index: 999;
    -webkit-text-stroke: 10px rgb(173, 37, 37);
}

.emoji {
    font-family: 'emojifont';
    image-rendering: pixelated;
}

.icon {
    filter: invert(1);
    width: 1rem;
    height: 1rem;
}

.SevenSegment {
    font-family: "SevenSegment";
}

.align-center {
    align-items: center;
}